
.planoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    animation: showPlano 0.4s ease 0.2s backwards;
}

.planoContainer:first-child{
    padding: 0;
}

.botaoSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    cursor: pointer;
}

.botaoSubmit button{
    background-color: transparent;
    color: white;
    border: 0.15rem solid white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    transition: 0.2s ease;
    cursor: pointer;
}

.botaoSubmit button:hover{
    transform: scale(1.05);
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.35);
}

@keyframes showPlano{
    0%{
        transform: translateY(-20%) scale(0.8);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.resultado-container{
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.resultado-container:hover{
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.01);
    transform: scale(1.05);
}